# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
venv-h100/share/
venv-b200/share/
venv-h100/include/
venv-b200/include/
venv-h100/lib/
venv-b200/lib/

# Distribution / packaging
# .Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
